<div class="st-wrapper">

  <div class="st-header">

    <span class="st-close">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <line x1="0" y1="0" x2="50" y2="50" style="stroke:rgb(255,255,255);stroke-width:1" />
        <line x1="0" y1="50" x2="50" y2="0" style="stroke:rgb(255,255,255);stroke-width:1" />
      </svg>
    </span>

    <span class="st-logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <defs>
          <clipPath id="s-clipCircle-{{storieIndex}}">
            <circle r="50" cx="50" cy="50"></circle>
          </clipPath>
        </defs>
        <polygon points="0,0 0,100 100,100 100,0" clip-path="url(#s-clipCircle-{{storieIndex}})" style="fill:white;" />
        <image x="0" y="0" clip-path="url(#s-clipCircle-{{storieIndex}})" width="100" height="100" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{logo}}"></image>
        <circle cx="50" cy="50" r="47" stroke="white" stroke-width="3" fill="none"></circle>
        <circle cx="50" cy="50" r="49" stroke="#9e914c" stroke-width="3" fill="none"></circle>
      </svg>
    </span>

    {{#each elements}}
      {{#isEqual this.type 'external_url'}}
        {{#if ../sponsors.0.data.name}}
          <h3>{{../sponsors.0.data.name}}</h3>
        {{else}}
          <h3>Yasmina</h3>
        {{/if}}
      {{/isEqual}}
    {{/each}}

  </div>


  <div class='st-main'>
    <div class='st-slider'>
      {{#each elements}}

        {{#if this.imgSrc}}
          <div class='item item-img'>

              <img src="{{this.imgSrc}}" alt="">

          </div>
        {{/if}}

        {{#if this.vKaltura}}
          <div class='item item-kaltura'>

              <video poster="" playsinline>
                {{#each this.vKaltura.sources}}
                  <source src="{{this.src}}" type="{{this.type}}">
                {{/each}}
              </video>

          </div>
        {{/if}}



      {{/each}}
    </div>
  </div>

  <div class='st-footer'>
    {{#each elements}}
    {{#isEqual this.type 'external_url'}}
      {{#if ../sponsors.0.data.name}}
        <a class="st-more" href="{{this.data.url}}" alt="" target="_blank">
          اكتشفي المزيد
        </a>
      {{else}}
        <a class="st-more" href="{{this.data.url}}" alt="">
          اكتشفي المزيد
        </a>
      {{/if}}
    {{/isEqual}}
    {{/each}}
  </div>

</div>
